{:rename-macros {}, :renames {}, :externs {JSON {parse {}}}, :use-macros {}, :excludes #{}, :name orcl-demo.events, :imports nil, :requires {orcl.parser orcl.parser, db orcl-demo.db, re re-frame.core, orcl.target.naive orcl.target.naive, orcl.analyzer orcl.analyzer, parser orcl.parser, orcl-demo.db orcl-demo.db, compiler orcl.target.naive, analyzer orcl.analyzer, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:initialize-db :definition :run :realized :program-state :completed :value :compiled :unblock :state :running :values :coeffects :program :change-program}, :order [:initialize-db :change-program :program :run :values :state :coeffects :compiled :realized :program-state :running :completed :unblock :definition :value]}, :doc nil}