{:rename-macros {}, :renames {}, :use-macros {reaction reagent.ratom}, :excludes #{}, :name orcl-demo.subs, :imports nil, :requires {re re-frame.core, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros {reagent.ratom reagent.ratom}, :cljs.analyzer/constants {:seen #{:realized :state :values :coeffects :program}, :order [:program :state :coeffects :realized :values]}, :doc nil}